<div class="panel">
  <ul>
    {{#each}}
      <li>
        {{#link-to 'org' this}}
        {{translated-level type}} {{name}}
        {{/link-to}}
      </li>
    {{else}}
      <li>No Orgs found.</li>
    {{/each}}
  </ul>
</div>

