*
  box-sizing: border-box

html, .ember-application, .ember-view
  height: 100%
  font-family: 'Domine', serif
  color: #787D85

h1, h2, h3, h4, h5, h6
  font-family: 'Montserrat', sans-serif

.navigation
  background: #28303B
  width: 15%
  float: left
  min-height: 100%
  color: #fff

  .title
    margin-bottom: 10px

  h1, h2, h3, h4, h5, h6, a
    padding: 5%;
    color: #fff
    text-decoration: none

  ul
    li
      margin: 0
    a
      color: #4B535E
      background: #A0A9B7
      display: block
      width: 100%
      border-bottom: 1px solid lighten(#4B535E, 25%)
      padding: 5%

.panel
  width: 85%
  padding: 10%
  float: left
  height: 100%
  background: #EBF0F2
