<div class="user-edit fadeIn animated">
  <label>User email</label>
  {{input value=email}}

  <label>User password</label>
  {{input value=password}}

  <label>User password confirmation</label>
  {{input value=passwordConfirmation}}
</div>


