
<div class="navigation">

  <h5 id='title' class="title">Organizations, Users and Roles Kata</h5>

  <ul class="links">
    <li>{{link-to 'Home' 'index'}}</li>
    <li>{{link-to 'Users' 'users'}}</li>
  </ul>

</div>

{{outlet}}
