
<div class="panel">
  <h1>{{email}}</h1>

  <p>
    Updated at: {{formatted-date updatedAt 'MMMM Do, YYYY [at] h:mm a'}}
    <br>
    Created at: {{formatted-date createdAt 'MMMM Do, YYYY [at] h:mm a'}}
  </p>
</div>
